* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family:"Century Gothic";
}
a{
  color:#ffffff;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  text-align: right;
}
.header {
  background-color: #121010;
  color: #6FEEFF;
  padding: 0px;
}

h1{
  font-family: comic sans ms;
  font-size: 35px;
}
#hr{
  font-size: 80px;
}
#hf{
  height: 50px;
  border: 2px solid #6FEEFF ;
 background-color: #D9D9D9;
}
.imgf{
  width: 50px;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.section1{
text-align: center;
padding:50px;
padding-left: 50px;
padding-right: 50px;
}
.aside {
  background-color:#121010;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.temoignage{
  background-color: mintcream;
  padding: 50px; 
}
.texte{
  color: #121010;
  font-weight: bold;
}
.section3{
  width: 100%;
 
  background: #012E3D;
  position: absolute;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.forme{
  width: 300PX;
  height: 300PX;
  border-radius: 2em;
  margin: 50px 0px 2px;
}
.form{
 width: 50%;
 height: 40px;
 text-align: center;
 background: #ffffff;
 margin-left: 25%;
} 
input{
 height: 30px;
 margin: 10px;
 border: 2px solid #6FEEFF ;
 background-color: #D9D9D9;
}
button{
padding: 10px;
color: #ffffff;
border: 2px solid #6FEEFF ;
background-color:  #6FEEFF;

}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#photo{
  border-radius:450px;
  width: 400px;
  height: 400px;
}
@media (max-width:450px){
  #photo{
    width: 100%;
  }
}
#section3{
width: 339px;
height: 390px;
border-radius: 50px;
}
